mlx
mlx-lm
mlx-vlm
mlx_embeddings

llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.30-Metal-macos-20260302/llama_cpp_python-0.3.30-cp312-cp312-macosx_11_0_arm64.whl