mlx
mlx-lm
mlx-vlm @ git+https://github.com/bean980310/mlx-vlm.git@45a2ed7e09d642a7a53b88e0072af5119f633338
mlx_embeddings

llama-cpp-python @ https://github.com/bean980310/llama-cpp-python/releases/download/v0.3.17-metal-20251202/llama_cpp_python-0.3.17-cp312-cp312-macosx_26_0_arm64.whl