torch
torchvision
torchaudio
transformers[ja, num2words, video]
scikit-learn
tiktoken
sentencepiece
mistral-common
huggingface-hub
x_transformers>=2.7.0
sentence_transformers @ git+https://github.com/huggingface/sentence-transformers.git
datasets[audio]>=3.6.0
peft
accelerate
groq
together
fireworks-ai
novita-sandbox
cohere
openai>=1.102.2
anthropic>=0.64.0
google-genai>=1.32.0
mistralai
xai-sdk
perplexityai
ollama
lmstudio
unstructured[all-docs]>=0.18.11
chromadb
mcp[cli]
fastmcp
gguf
gptqmodel>4.0.0
openai-harmony
llama-cpp-python